*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
body
{
    --main-color: #283526;
    --primry-color: #888888;
    --button-background: #4b709e;
    --primary-button-background: #fe7649;
    --background-color: #93b7e3;
}
h1,
h2{
    font-family: 'Courier New', Courier, monospace;
    color: var(--main-color);
}
h3,
h4{
    font-family:'Times New Roman', Times, serif;
    color: var(--main-color)
}
h3{
    font-weight: 750;
    font-size: 2.2rem;  /*1rem=10px*/
    line-height: 6rem;
    text-transform: capitalize;
}
p,a,li,button{
    font-family: 'Times New Roman', Times, serif;
    color:var(--primry-color);
}
p{
    font-size: 1.8rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}
a{
    text-decoration: none;
    cursor:pointer;
}
li
{
    list-style: none;
}
button{
    padding: 1rem 3rem;
    border-radius: 2rem;
    border:none;
    outline: none;
    line-height: 3.6rem;
    text-transform: capitalize;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}


/*main*/
header{
    padding: 0 20rem;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 12rem;
}
header nav .left_side_nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
   
}
header nav .left_side_nav a img{
width: 13rem;
height: 5.5rem;
}
header nav .left_side_nav .sub_menu{
    height: inherit;
    display: flex;
}
header nav .left_side_nav .sub_menu a li{
    font-size: 2rem;
    margin-right: 4rem;
    line-height: 3.6rem;
    text-transform: capitalize;
    transition: all 0.2s;
}
header nav .left_side_nav .sub_menu a li:hover{
    color:var(--button-background);
}

header nav .right_side_nav
{
    width:50%;
    display: flex;
    justify-content: end;
}
header nav .right_side_nav .sub_menu{
    display: flex;
    height: inherit;
    width:100%;
    align-items: center;
    justify-content: flex-end;
}

header nav .right_side_nav .sub_menu a{
    margin-right: 8rem;
    padding: 0.7rem 2rem;
    background: rgba(red, green, blue);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 1rem;
    position: relative;
    z-index: 9;
}

header nav .right_side_nav .sub_menu button{
    padding: 0.5rem 2.5rem;
    background-color: var(--button-background);
    color:#e2efff;
    box-shadow:ghostwhite  2px 2px 5px;

}

header nav .right_side_nav .sub_menu button:hover{
    background: blue;
    transform: scale(.9);
    box-shadow: none;
}

header nav .right_side_nav .sub_menu a li:hover{
color:var(--button-background);
}

/*body*/

.section_1{
    padding: 0 20rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem ;
}
.section_1 .hero_left{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.section_1 h1{
    width:55rem;
    font-size: 7.5rem;
    line-height: 9rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
}
.section_1 p{
    margin-bottom: 8rem;
    width: 45rem;    
}
.section_1 a img{
    width: 13.5rem;
    height: 4rem;
}
.section_1 .button_group .appstore{
    height: 4.4rem;
    margin-bottom: -0.4rem;
}
.section_1 .button_group a:first-child{
    margin-right: 2.5rem;
}

.section_1 .hero_right{
    width: 50%;
    height:fit-content;
    background-color: var(--background-color);
    position:absolute;
    right:0;
    top:0;
    border-radius: 9rem 2rem 0rem 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_1 .hero_right img{
    width: 80rem;
    height: 100%;
    margin-right: 43rem;
}

.common_section{
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 9rem;
    padding: 0 2rem;
    margin-top: 25rem;
}
.common_section .left_side_2{
    width:inherit;
    height:inherit;
}
.common_section .left_side_2 figure{
    width: 45rem;
    height: 65rem;
    margin-top: 2rem;
    background:#7d9cb9;
    border-radius: 2rem;
    margin-left: 10rem;
}

.common_section .left_side_2 img{
    width: 65rem;
    height: 60rem;  
    border-radius: 2rem;
    margin-left: 10rem;
    margin-top: 2.5rem;
}
.common_section .right_side_2{
width: 50%;
height: 100vh;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
margin-left: 25rem;
}
.common_section .right_side_2 h2{
width: 40rem;
font-style: normal;
font-size: 5.5rem;
font-weight: bold;
line-height: 6.3rem;
margin-bottom: 3rem;
text-transform:capitalize;
}
.common_section .right_side_2 p{
    width: 40.3rem;
    height: 9rem;
    text-transform: lowercase;
    margin-bottom: 3rem;
}
.common_section .right_side_2 .button_group_2 .get_started{
    padding: 1rem 3rem;
    background-color: var(--primary-button-background);
    margin-right: 2rem;
    color: #fff;
}
.common_section .right_side_2 .button_group_2 .work{
    color:var(--main-color);
    background-color: transparent;

}
.common_section .right_side_2 .button_group_2 .get_started:hover{
    background-color:rgb(254, 81, 7);
    box-shadow: gray 5px 5px 10px;
    transform: translate(-5px -5px);
    transition: 0.5s;
}

.common_section .right_side_2 .button_group_2 .get_started:active{
    background-color: #eb6031;
    box-shadow:gray 5px 5px 3px;
    transform: translate(5px,5px );
    transition: 0.2s;}    

.common_section .right_side_2 .button_group_2 .work:hover{
background-color:rgb(254, 81, 7);
box-shadow: gray 5px 5px 10px;
transform: translate(5px 5px);
transition: 0.5s;
}
.common_section .right_side_2 .button_group_2 .work:active{
    background-color: #eb6031;
    box-shadow:gray 5px 5px 3px;
    transform: translate(5px,5px );
    transition: 0.2s;
}    

  

